<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<title>{% block title %}{% endblock %} - Flaskr</title>
{#
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
    </nav>
#}
<section class="p-4 rounded">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}

    <div
        {% if category == "success" %}
            class="p-4 border rounded text-green-700 bg-green-50 border-green-900/10"
        {% elif category in ["warn", "failed"] %}
            class="p-4 border rounded text-amber-700 bg-amber-50 border-amber-900/10"
        {% elif category in ["alert", "error"] %}
            class="p-4 border rounded text-red-700 bg-red-50 border-red-900/10"
        {% else %}
            class="p-4 border rounded text-sky-700 bg-sky-50 border-sky-900/10"
        {% endif %}
        role="{{ category }}"
        >
        <strong class="text-sm font-medium">{{ message }}</strong>
    </div>
    {#
    <div class="flash">{{ message }}</div>
    #}
  {% endfor %}
  {% block content %}{% endblock %}
</section>